@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegation__logo__name {
    font-weight: bold;
    color: rgb(129, 129, 129);
    font-size: 20px;
}

.navegation__logo__name:hover {
    font-weight: bold;
    color: rgb(129, 129, 129);
    text-decoration: none;
}

.form{
    display: flex;
    justify-content: center;
}

#input-search{
    border: 1px solid rgb(212, 212, 212);
    width: 300px;
    padding: 0 10px;
}

.form-button{
    width: 50px;
    border: 1px solid rgb(226, 226, 226);
}

.fa-search{
    color: rgb(129, 129, 129);
}

.cart-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    color: rgb(129, 129, 129);
}

.cart-button:hover {
    background-color: rgb(245, 245, 245);
}


.main-container__card{
    width: 210px;
    height: 280px;
    border: 1px solid red;
}