@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13); 
    box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13);
}

.navegation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegation__logo__name {
    font-weight: bold;
    color: rgb(129, 129, 129);
    font-size: 20px;
}

.navegation__logo__name:hover {
    font-weight: bold;
    color: rgb(129, 129, 129);
    text-decoration: none;
}

#main-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-search{
    border: 1px solid rgb(212, 212, 212);
    width: 80%;
    padding: 0 10px;
    -webkit-box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13); 
    box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13);
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.form-button{
    width: 100px;
    border: 1px solid rgb(226, 226, 226);
    height: 40px;
    -webkit-box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13); 
    box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13);
}

.fa-search{
    color: rgb(129, 129, 129);
}

.products-section{
    width: 100%;
    display: flex;
    flex: 1 1 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    color: rgb(129, 129, 129);
}

.cart-button:hover {
    background-color: rgb(245, 245, 245);
}


.main-container__card{
    width: 210px;
    -webkit-box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13); 
    box-shadow: 1px 0px 11px 1px rgba(0,0,0,0.13);
    margin: 10px;
}

.desing {
    width: 100%;
}

.main-container__card__info{
    padding: 5px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.money {
    color: rgb(3, 97, 3);
}

.products-section__button{
    width: 95%;
    height: 50px;
    border: 1px solid rgb(129, 129, 129);
}

.fa-plus-circle{
    font-size: 30px;
    color: rgb(129, 129, 129);
}

.products-section__button:hover{
    border: 1px solid rgb(3, 97, 3);
}